# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.swp
.DS_Store
db.sqlite3
*.sqlite3
media
static
.env
.vscode
.idea
*.pyo
*.pyc
__pycache__
db_mysql.dump

.env
.env.dev
.env.prod

.pytest_cache/
pytest/
.tox/
.nox/
.pylint.d/
mypy_cache/
coverage.xml
